<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Title</title>
</head>
<body>
    <div>我去111{$name}</div>
    <form action="uploadMore" enctype="multipart/form-data" method="post">
        <input type="file" name="image[]" /> <br>
        <input type="file" name="image[]" /> <br>
        <input type="file" name="image[]" /> <br>
        <input type="submit" value="上传" />
    </form>
</body>
</html>